.site-navbar {
    background: gray;
    color: white;
}

.form-error {
    border: 2px solid red;
}

.create-comments-section {
  max-width: 22rem;
  margin: 0 auto;
}

.comment-form-input {
    margin-bottom: 10px;
}

.comment-li {
    border: 1px solid black;
}

.comments {
    list-style: none;
}

.comment-owner-details > * {
    display: inline-block;
}

.option-bar {
    list-style: none;
    padding: 0;
}

.nav-bar-option {
    display: inline-block;
}

.footer-text {
    margin-bottom: 5px;
}

.cookie-box {
    margin: 10px auto;
    border: 2px solid red;
    max-width: fit-content;
    padding: 30px;
}